USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Get_All_DEBIT_CREDIT_TOTAL_NEW]    Script Date: 8/28/2025 2:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_All_DEBIT_CREDIT_TOTAL_NEW] 
    @CompanyCode   BIGINT,
    @FromDate      DATE         = NULL,
    @ToDate        DATE         = NULL,
    @CustomerCodes NVARCHAR(MAX),
    @Document_Type NVARCHAR(50) = NULL,
    @FinancialYear NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    /* -------- Normalize empties to NULL -------- */
    IF @CustomerCodes  IS NOT NULL AND LTRIM(RTRIM(@CustomerCodes))  = '' SET @CustomerCodes  = NULL;
    IF @Document_Type  IS NOT NULL AND LTRIM(RTRIM(@Document_Type))  = '' SET @Document_Type  = NULL;
    IF @FinancialYear  IS NOT NULL AND LTRIM(RTRIM(@FinancialYear))  = '' SET @FinancialYear  = NULL;

    /* -------- Unified date defaults (same as grid SP) -------- */
    DECLARE @today DATE = CAST(GETDATE() AS DATE);

    IF @FinancialYear IS NOT NULL
    BEGIN
        DECLARE @StartYear INT = TRY_CAST(LEFT(@FinancialYear, 4) AS INT);
        IF @StartYear IS NOT NULL
        BEGIN
            DECLARE @EndYear INT = @StartYear + 1;
            SET @FromDate = DATEFROMPARTS(@StartYear, 4, 1);
            SET @ToDate   = DATEFROMPARTS(@EndYear,   3, 31);
            IF @ToDate > @today SET @ToDate = @today;  -- cap future
        END
    END

    IF @FromDate IS NULL AND @ToDate IS NULL
    BEGIN
        DECLARE @fyStartYear INT =
            CASE WHEN MONTH(@today) >= 4 THEN YEAR(@today) ELSE YEAR(@today) - 1 END;
        SET @FromDate = DATEFROMPARTS(@fyStartYear, 4, 1);
        SET @ToDate   = @today;
    END

    IF @FromDate IS NULL SET @FromDate = '1900-01-01';
    IF @ToDate   IS NULL SET @ToDate   = @today;

    /* -------- Accumulators -------- */
    DECLARE @TotalDebitAmount   DECIMAL(18,2) = 0;
    DECLARE @TotalCreditAmount  DECIMAL(18,2) = 0;
    DECLARE @TotalClosingAmount DECIMAL(18,2) = 0;
    DECLARE @OpeningBalance     DECIMAL(18,2) = 0;

    /* -------- Opening: before FromDate -------- */
    SELECT 
        @OpeningBalance =
            ISNULL(SUM(CASE WHEN Amount_in_Local_Currency >= 0 THEN Amount_in_Local_Currency ELSE 0 END), 0)
          - ISNULL(SUM(CASE WHEN Amount_in_Local_Currency  < 0 THEN ABS(Amount_in_Local_Currency) ELSE 0 END), 0)
    FROM TB_CustomerLedger
    WHERE CompanyCode = @CompanyCode
      AND Document_Date < @FromDate
      AND (
            @CustomerCodes IS NULL
            OR EXISTS (
                SELECT 1
                FROM STRING_SPLIT(@CustomerCodes, ',') s
                WHERE COALESCE(CustomerCode, '') = COALESCE(LTRIM(RTRIM(s.value)), '')
            )
          )
      AND (@Document_Type IS NULL OR Document_Type = @Document_Type);

    /* -------- Period totals: FromDate..ToDate inclusive -------- */
    SELECT
        @TotalDebitAmount  = ISNULL(SUM(CASE WHEN Amount_in_Local_Currency >= 0 THEN Amount_in_Local_Currency ELSE 0 END), 0),
        @TotalCreditAmount = ISNULL(SUM(CASE WHEN Amount_in_Local_Currency  < 0 THEN ABS(Amount_in_Local_Currency) ELSE 0 END), 0)
    FROM TB_CustomerLedger
    WHERE CompanyCode = @CompanyCode
      AND Document_Date >= @FromDate
      AND Document_Date <= @ToDate
      AND (
            @CustomerCodes IS NULL
            OR EXISTS (
                SELECT 1
                FROM STRING_SPLIT(@CustomerCodes, ',') s
                WHERE COALESCE(CustomerCode, '') = COALESCE(LTRIM(RTRIM(s.value)), '')
            )
          )
      AND (@Document_Type IS NULL OR Document_Type = @Document_Type);

    /* -------- Closing -------- */
    SET @TotalClosingAmount = @OpeningBalance + (@TotalDebitAmount - @TotalCreditAmount);

    SELECT 
        @TotalDebitAmount   AS TotalDebitAmount,
        @TotalCreditAmount  AS TotalCreditAmount,
        @TotalClosingAmount AS ClosingBalance,
        @OpeningBalance     AS OpeningBalanceTotal;
END
GO
