USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetConditionAmount]    Script Date: 8/21/2025 10:56:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetConditionAmount]
    @CompanyCode        VARCHAR(10),
    @Variety            VARCHAR(50),
    @Product            VARCHAR(100),
    @Generation         VARCHAR(10),
    @Grade              VARCHAR(10),
    @DestinationState   VARCHAR(100) = NULL,   -- for A935 (region-wise; UI sends StateName)
    @CustomerCode       VARCHAR(50)  = NULL    -- for A860 (customer-wise)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FinalConditionAmount DECIMAL(18,2);
	DECLARE @AsOfDate DATE = CONVERT(DATE, GETDATE()); 

    -- Priority list (used only by the 1049 block)
    DECLARE @ConditionTablePriority TABLE (PriorityOrder INT, ConditionTable NVARCHAR(5));
    INSERT INTO @ConditionTablePriority (PriorityOrder, ConditionTable)
    VALUES (1,'A860'),(2,'A935'),(3,'A933'),(4,'A862'),(5,'A559');

    ----------------------------------------------------------------------------
    -- 1049: UNCHANGED
    ----------------------------------------------------------------------------
    IF @CompanyCode = '1049'
    BEGIN
        SELECT TOP 1 @FinalConditionAmount = 
            CASE 
                WHEN bag.Condition_Amount IS NOT NULL AND dis.Condition_Amount IS NOT NULL 
                    THEN bag.Condition_Amount - (bag.Condition_Amount * dis.Condition_Amount / 100)
                ELSE bag.Condition_Amount
            END
        FROM @ConditionTablePriority ctp
        JOIN TB_PriceMaster bag WITH (INDEX(IDX_TB_PriceMaster_Search))
            ON bag.Condition_Table = ctp.ConditionTable
           AND bag.CompanyCode     = @CompanyCode
           AND bag.Condition_Type  = 'ZBAG'
           AND bag.Material_Description LIKE '%' + @Variety + '%'
           AND bag.Material_Description LIKE '%' + @Product + '%'
           AND bag.Material_Description LIKE '%' + @Generation + '%'
           AND bag.Material_Description LIKE '%' + @Grade + '%'
        LEFT JOIN TB_PriceMaster dis WITH (INDEX(IDX_TB_PriceMaster_Search))
            ON dis.Material_Number  = bag.Material_Number
           AND dis.Condition_Table  = bag.Condition_Table
           AND dis.Condition_Type   = 'ZDIS'
           AND dis.Region           = @DestinationState
        ORDER BY ctp.PriorityOrder;

        SELECT ISNULL(@FinalConditionAmount, 0) AS FinalConditionAmount;
        RETURN;
    END

    ----------------------------------------------------------------------------
    -- 1054: A860 (customer-wise) OR A935 (region-wise via StateName → RegionCode)
    ----------------------------------------------------------------------------
    IF @CompanyCode = '1054'
    BEGIN
        DECLARE @HasDest BIT = CASE WHEN @DestinationState IS NOT NULL AND LTRIM(RTRIM(@DestinationState)) <> '' THEN 1 ELSE 0 END;
        DECLARE @HasCust BIT = CASE WHEN @CustomerCode     IS NOT NULL AND LTRIM(RTRIM(@CustomerCode))     <> '' THEN 1 ELSE 0 END;

        -- exactly one selector must be provided
        IF (@HasDest = 1 AND @HasCust = 1) OR (@HasDest = 0 AND @HasCust = 0)
        BEGIN
            SELECT CAST(0.00 AS DECIMAL(18,2)) AS FinalConditionAmount;
            RETURN;
        END

        IF (@HasCust = 1)
        BEGIN
            -- A860: customer-wise
            SELECT TOP 1 @FinalConditionAmount = pm.Condition_Amount
            FROM TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
            WHERE pm.CompanyCode       = @CompanyCode
              AND pm.Condition_Table   = 'A860'
              AND pm.Condition_Type    = 'ZB01'
              AND pm.Material_Description LIKE '%' + @Variety + '%'
              AND pm.Material_Description LIKE '%' + @Product + '%'
              AND pm.Material_Description LIKE '%' + @Generation + '%'
              AND pm.Material_Description LIKE '%' + @Grade + '%'
              AND LTRIM(RTRIM(pm.Customer_Number)) = LTRIM(RTRIM(@CustomerCode))
			  AND (pm.Valid_From IS NULL OR pm.Valid_From <= @AsOfDate)
              AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= @AsOfDate)
            ORDER BY pm.Id DESC;  -- simple and deterministic

            SELECT ISNULL(@FinalConditionAmount, 0) AS FinalConditionAmount;
            RETURN;
        END

        IF (@HasDest = 1)
        BEGIN
            -- A935: region-wise (map StateName → RegionCode)
            SELECT TOP 1 @FinalConditionAmount = pm.Condition_Amount
            FROM TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
            INNER JOIN dbo.TB_StateRegionMap srm
                ON LTRIM(RTRIM(srm.StateName)) = LTRIM(RTRIM(@DestinationState))
            WHERE pm.CompanyCode       = @CompanyCode
              AND pm.Condition_Table   = 'A935'
              AND pm.Condition_Type    = 'ZB01'
              AND pm.Material_Description LIKE '%' + @Variety + '%'
              AND pm.Material_Description LIKE '%' + @Product + '%'
              AND pm.Material_Description LIKE '%' + @Generation + '%'
              AND pm.Material_Description LIKE '%' + @Grade + '%'
              AND pm.Region = srm.RegionCode
			  AND (pm.Valid_From IS NULL OR pm.Valid_From <= @AsOfDate)
              AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= @AsOfDate)
            ORDER BY pm.Id DESC;  -- simple and deterministic

            SELECT ISNULL(@FinalConditionAmount, 0) AS FinalConditionAmount;
            RETURN;
        END
    END

    
END
GO
