USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetValidPriceMasterForDropdown]    Script Date: 9/2/2025 2:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetValidPriceMasterForDropdown]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Today DATE = CAST(GETDATE() AS DATE);

    SELECT
        CompanyCode,
        Material_Description,
        Variety,
        Grade
    FROM TB_PriceMaster 
    WHERE
        CompanyCode = 1054
        AND ISNULL(Deletion_Indicator, '') <> 'X'     -- Exclude deleted records
        AND CAST(ISNULL(Valid_From, '1900-01-01') AS DATE) <= @Today
        AND CAST(ISNULL(Valid_To,   '9999-12-31') AS DATE) >= @Today;
END
GO
