USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[PlantDropdown_ForUser]    Script Date: 8/26/2025 5:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PlantDropdown_ForUser]
    @CompanyCode BIGINT,
    @UserCode    NVARCHAR(50),   -- logged-in user
    @RoleId      INT             -- 2 = TM, 4 = ZM
AS
BEGIN
    SET NOCOUNT ON;


    IF (@RoleId = 2)
    BEGIN
        SELECT DISTINCT
            LTRIM(RTRIM(CM.Plant)) AS Plant
        FROM dbo.TB_CustomerMaster CM
        WHERE CM.CompanyCode = @CompanyCode
          AND CM.TM = @UserCode
          AND CM.Plant IS NOT NULL
          AND LTRIM(RTRIM(CM.Plant)) <> ''
        ORDER BY Plant;
        RETURN;
    END

    IF (@RoleId = 4)
    BEGIN
        ;WITH OrgCTE AS
        (
            -- seed = the ZM themself
            SELECT U.UserCode, U.RepManCode, U.RoleId
            FROM dbo.Users U
            WHERE U.CompanyCode = @CompanyCode
              AND U.IsActive = 1
              AND U.UserCode = @UserCode

            UNION ALL

            -- recurse: pull all subordinates at any depth
            SELECT C.UserCode, C.RepManCode, C.RoleId
            FROM dbo.Users C
            INNER JOIN OrgCTE P
                ON C.RepManCode = P.UserCode
            WHERE C.CompanyCode = @CompanyCode
              AND C.IsActive = 1
        )
        -- any user in the discovered tree (ZM, RM(s), TM(s), etc.)
        SELECT DISTINCT
            LTRIM(RTRIM(CM.Plant)) AS Plant
        FROM dbo.TB_CustomerMaster CM
        INNER JOIN OrgCTE O
            ON CM.TM = O.UserCode
        WHERE CM.CompanyCode = @CompanyCode
          AND CM.Plant IS NOT NULL
          AND LTRIM(RTRIM(CM.Plant)) <> ''
        ORDER BY Plant;

        RETURN;
    END

    -- Any other role -> empty (or adjust as you like)
    SELECT TOP 0 CAST(NULL AS NVARCHAR(20)) AS Plant;
END
GO
