USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetTMStock]    Script Date: 7/7/2025 1:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTMStock]
	@TM NVARCHAR(50), -- This parameter contains UserCode of requesting user (TM/ZM/NSM/BHM/BusinessAdmin etc.)
	@CompanyCode BIGINT, -- Mandatory parameter
    @Plant NVARCHAR(50) = NULL,
    @StorageLocation NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Variables for role-based access control
    DECLARE @UserRoleId INT = 0;
    DECLARE @AccessibleTMs TABLE (TMCode NVARCHAR(50));

    -- Get user role from the @TM parameter (which contains UserCode)
    SELECT @UserRoleId = ISNULL(RoleId, 0)
    FROM Users 
    WHERE UserCode = @TM AND CompanyCode = @CompanyCode AND IsActive = 1;

    -- Determine accessible TMs based on role hierarchy
    -- Only users with RoleId > 3 (ZM and above) can call this API
    IF @UserRoleId = 4 -- ZM - can see TMs under him
    BEGIN
        -- Get TMs assigned to customers where this ZM is listed as TM
        INSERT INTO @AccessibleTMs (TMCode)
        SELECT DISTINCT TM 
        FROM TB_CustomerMaster 
        WHERE CompanyCode = @CompanyCode 
        AND TM IN (
            SELECT DISTINCT TM 
            FROM TB_CustomerMaster cm2
            WHERE cm2.CompanyCode = @CompanyCode
            AND EXISTS (
                SELECT 1 FROM Users u 
                WHERE u.UserCode = @TM 
                AND u.CompanyCode = @CompanyCode 
                AND u.RoleId = 4
                AND (cm2.TM = u.UserCode OR cm2.TM IN (
                    SELECT UserCode FROM Users 
                    WHERE RepManCode = u.UserCode 
                    AND CompanyCode = @CompanyCode 
                    AND RoleId <= 3
                ))
            )
        );
        
        -- Also include the ZM's own code if they are assigned as TM
        INSERT INTO @AccessibleTMs (TMCode)
        SELECT DISTINCT @TM
        WHERE EXISTS (
            SELECT 1 FROM TB_CustomerMaster 
            WHERE TM = @TM AND CompanyCode = @CompanyCode
        );
    END
    ELSE IF @UserRoleId > 4 -- NSM, BHM, BusinessAdmin, FI, COMMERCIAL, Others - can see all TMs
    BEGIN
        INSERT INTO @AccessibleTMs (TMCode)
        SELECT DISTINCT TM 
        FROM TB_CustomerMaster 
        WHERE CompanyCode = @CompanyCode;
    END

    -- Temporary table to store parsed material details
    CREATE TABLE #TempStockDetails (
        SrNo INT IDENTITY(1,1),
        Variety NVARCHAR(50),
        Product NVARCHAR(100),
        Generation NVARCHAR(10),
        Grade NVARCHAR(10),
        Quantity DECIMAL(18, 2)
    );

    -- Fetch stock details for the accessible TMs
    INSERT INTO #TempStockDetails (Variety, Product, Generation, Grade, Quantity)
    SELECT 
        -- Extract Variety (Second word)
        (SELECT value FROM (
            SELECT value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS pos
            FROM STRING_SPLIT(Material_Description, ' ')
        ) AS Parts WHERE pos = 2) AS Variety,

        -- Extract Product (First 3 words)
        (SELECT STRING_AGG(value, ' ') FROM (
            SELECT value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS pos
            FROM STRING_SPLIT(Material_Description, ' ')
        ) AS Parts WHERE pos <= 3) AS Product,

        -- Extract Generation (Third word after "POTATO")
        (CASE 
            WHEN Material_Description LIKE '%GRADE%' THEN 
                (SELECT value FROM (
                    SELECT value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS pos
                    FROM STRING_SPLIT(Material_Description, ' ')
                ) AS Parts WHERE pos = 4)
            WHEN Material_Description LIKE 'POTATO JYOTI%' THEN 'G4'
            WHEN Material_Description LIKE 'POTATO TIGER%' THEN 'G3'
            ELSE NULL
        END) AS Generation,

        -- Extract Grade (Last word)
        (CASE 
            WHEN Material_Description LIKE '%GRADE%' THEN 
                (SELECT TOP 1 value FROM (
                    SELECT value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS pos
                    FROM STRING_SPLIT(Material_Description, ' ')
                ) AS Parts ORDER BY pos DESC)
            WHEN Material_Description LIKE 'POTATO JYOTI%' THEN 'M12'
            WHEN Material_Description LIKE 'POTATO TIGER%' THEN 'M0'
            ELSE NULL
        END) AS Grade,

        Unrestricted_Kgs AS Quantity
    FROM TB_StockDetails SD
    INNER JOIN TB_CustomerMaster CM ON SD.Plant = CM.Plant
    WHERE 
        CM.CompanyCode = @CompanyCode
        AND CM.TM IN (SELECT TMCode FROM @AccessibleTMs)
        AND (@Plant IS NULL OR SD.Plant = @Plant)
        AND (@StorageLocation IS NULL OR SD.Storage_Location = @StorageLocation);

    -- Return final result
    SELECT * FROM #TempStockDetails;
    
    -- Cleanup
    DROP TABLE #TempStockDetails;
END;
GO
