USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetStockDropdownValues]    Script Date: 7/7/2025 1:08:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetStockDropdownValues]
	 @TM NVARCHAR(50),
     @CompanyCode BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    -- Variables for role-based access control
    DECLARE @UserRoleId INT = 0;
    DECLARE @AccessibleTMs TABLE (TMCode NVARCHAR(50));

    -- Get user role from the @TM parameter (which contains UserCode)
    SELECT @UserRoleId = ISNULL(RoleId, 0)
    FROM Users 
    WHERE UserCode = @TM AND CompanyCode = @CompanyCode AND IsActive = 1;

    -- Determine accessible TMs based on role hierarchy
    -- Only users with RoleId > 3 (ZM and above) can call this API
    IF @UserRoleId = 4 -- ZM - can see TMs under him
    BEGIN
        -- Get TMs assigned to customers where this ZM is listed as TM
        INSERT INTO @AccessibleTMs (TMCode)
        SELECT DISTINCT TM 
        FROM TB_CustomerMaster 
        WHERE CompanyCode = @CompanyCode 
        AND TM IN (
            SELECT DISTINCT TM 
            FROM TB_CustomerMaster cm2
            WHERE cm2.CompanyCode = @CompanyCode
            AND EXISTS (
                SELECT 1 FROM Users u 
                WHERE u.UserCode = @TM 
                AND u.CompanyCode = @CompanyCode 
                AND u.RoleId = 4
                AND (cm2.TM = u.UserCode OR cm2.TM IN (
                    SELECT UserCode FROM Users 
                    WHERE RepManCode = u.UserCode 
                    AND CompanyCode = @CompanyCode 
                    AND RoleId <= 3
                ))
            )
        );
        
        -- Also include the ZM's own code if they are assigned as TM
        INSERT INTO @AccessibleTMs (TMCode)
        SELECT DISTINCT @TM
        WHERE EXISTS (
            SELECT 1 FROM TB_CustomerMaster 
            WHERE TM = @TM AND CompanyCode = @CompanyCode
        );
    END
    ELSE IF @UserRoleId > 4 -- NSM, BHM, BusinessAdmin, FI, COMMERCIAL, Others - can see all TMs
    BEGIN
        INSERT INTO @AccessibleTMs (TMCode)
        SELECT DISTINCT TM 
        FROM TB_CustomerMaster 
        WHERE CompanyCode = @CompanyCode;
    END

    -- Return distinct Plant and Storage_Location values for accessible TMs
    SELECT DISTINCT
        SD.Plant,
        SD.Storage_Location
    FROM TB_StockDetails SD
    INNER JOIN TB_CustomerMaster CM ON SD.Plant = CM.Plant
    WHERE 
        CM.CompanyCode = @CompanyCode
        AND CM.TM IN (SELECT TMCode FROM @AccessibleTMs);
END;
GO
