USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Revert_HAApproval_WhenNoSO_MHZPC]    Script Date: 8/24/2025 2:18:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Revert_HAApproval_WhenNoSO_MHZPC]
    @OrderNumber INT,
    @Message     NVARCHAR(2000) = NULL  -- reserved if you later store a message
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- Reset HA approval & SO fields on all items for this order
        UPDATE d
        SET
            HAApproval      = 'Pending',  -- if your column is BIT, use CAST(0 AS bit)
            HAApproval_Date = NULL,
            HAUserCode      = NULL,
            SoNumber        = NULL,
            SODate          = NULL
        FROM DealerOrderMHZPC d
        WHERE d.OrderNumber = @OrderNumber;

        DECLARE @DealerRows INT = @@ROWCOUNT;

        -- Set header status back to Pending
        UPDATE o
        SET OrderStatus = 'Pending'
        FROM OrdersMHZPC o
        WHERE o.OrderNumber = @OrderNumber;

        DECLARE @OrderRows INT = @@ROWCOUNT;

        COMMIT TRAN;

        -- Return counts for visibility
        SELECT @DealerRows AS DealerRowsAffected, @OrderRows AS OrderRowsAffected;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
