USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Get_All_CustomerLedgers_1054]    Script Date: 8/31/2025 3:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_All_CustomerLedgers_1054] 
    @CompanyCode   BIGINT,
    @FromDate      DATE         = NULL,
    @ToDate        DATE         = NULL,
    @CustomerCodes NVARCHAR(MAX),
    @Document_Type NVARCHAR(50) = NULL,
    @FinancialYear NVARCHAR(10) = NULL,
    @Offset        INT,
    @PageSize      INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @CustomerCodes IS NOT NULL AND LTRIM(RTRIM(@CustomerCodes)) = '' SET @CustomerCodes = NULL;
    IF @Document_Type IS NOT NULL AND LTRIM(RTRIM(@Document_Type)) = '' SET @Document_Type = NULL;
    IF @FinancialYear IS NOT NULL AND LTRIM(RTRIM(@FinancialYear)) = '' SET @FinancialYear = NULL;

    DECLARE @today DATE = CAST(GETDATE() AS DATE);

    IF @FinancialYear IS NOT NULL
    BEGIN
        DECLARE @StartYear INT = TRY_CAST(LEFT(@FinancialYear, 4) AS INT);
        IF @StartYear IS NOT NULL
        BEGIN
            DECLARE @EndYear INT = @StartYear + 1;
            SET @FromDate = DATEFROMPARTS(@StartYear, 4, 1);
            SET @ToDate   = DATEFROMPARTS(@EndYear,   3, 31);
            IF @ToDate > @today SET @ToDate = @today;
        END
    END

    IF @FromDate IS NULL AND @ToDate IS NULL
    BEGIN
        DECLARE @fyStartYear INT = CASE WHEN MONTH(@today) >= 4 THEN YEAR(@today) ELSE YEAR(@today)-1 END;
        SET @FromDate = DATEFROMPARTS(@fyStartYear, 4, 1);
        SET @ToDate   = @today;
    END

    IF @FromDate IS NULL SET @FromDate = '1900-01-01';
    IF @ToDate   IS NULL SET @ToDate   = @today;

    /* Grid page (1054: all doc types; apply side rule only when a specific type is selected) */
    SELECT
        CompanyCode,
        CustomerCode,
        Document_Type,
        Document_Number,
        Credit_Control_Area,
        Document_Date,
        Net_Due_Date,
        Posting_Date,
        Arrears_by_Net_Due_Date,
        Credit_Control_Area_Currency,
        Baseline_Payment_Date,
        Amount_in_Local_Currency,
        CASE WHEN Amount_in_Local_Currency >= 0 THEN Amount_in_Local_Currency ELSE 0 END AS DebitAmount,
        CASE WHEN Amount_in_Local_Currency  < 0 THEN ABS(Amount_in_Local_Currency)      ELSE 0 END AS CreditAmount,
        Clearing_Date,
        Clearing_Document,
        Assignment,
        Reference,
        Text,
        Account,
        Document_Header_Text,
        UserCode,
        GLAccount
    FROM TB_CustomerLedger
    WHERE CompanyCode = @CompanyCode
      AND @CompanyCode = 1054
      AND Document_Date >= @FromDate
      AND Document_Date <= @ToDate
      AND (
            @CustomerCodes IS NULL
            OR EXISTS (
                SELECT 1 FROM STRING_SPLIT(@CustomerCodes, ',') s
                WHERE COALESCE(CustomerCode, '') = COALESCE(LTRIM(RTRIM(s.value)), '')
            )
          )
      AND (@Document_Type IS NULL OR Document_Type = @Document_Type)
      AND (
           @Document_Type IS NULL
           OR (
                (@Document_Type = 'RV' AND Amount_in_Local_Currency >= 0) OR
                (@Document_Type = 'DZ' AND Amount_in_Local_Currency  < 0) OR
                (@Document_Type = 'DC') OR
                (@Document_Type NOT IN ('RV','DZ','DC'))  -- other types: no sign restriction
              )
          )
    ORDER BY ISNULL(Document_Date,'1900-01-01') DESC, Document_Number DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
