USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Get_PriceCard]    Script Date: 8/22/2025 4:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_PriceCard]
    @CompanyCode   BIGINT,
    @Status        BIT           = NULL,
    @PriceCardType NVARCHAR(10)  = NULL,
    @Variety       NVARCHAR(100) = NULL,
    @CustomerCode  NVARCHAR(50)  = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    -------------------------------------------------------------------------
    -- Resolve the customer's state (RegionDescription) – used only for 1054
    -------------------------------------------------------------------------
    DECLARE @CustomerState NVARCHAR(100) = NULL;

    IF (@CompanyCode = 1054 AND @CustomerCode IS NOT NULL)
    BEGIN
        SELECT @CustomerState = LTRIM(RTRIM(cm.RegionDescription))
        FROM dbo.TB_CustomerMaster AS cm
        WHERE cm.CustomerCode = @CustomerCode
          AND cm.CompanyCode  = @CompanyCode;
    END

    -------------------------------------------------------------------------
    -- Condition Table Priority (kept for non-1054 companies)
    -------------------------------------------------------------------------
    DECLARE @ConditionTablePriority TABLE (PriorityOrder INT, ConditionTable NVARCHAR(5));
    INSERT INTO @ConditionTablePriority (PriorityOrder, ConditionTable)
    VALUES (1, 'A860'), (2, 'A935'), (3, 'A933'), (4, 'A862'), (5, 'A559');

    -------------------------------------------------------------------------
    -- Main query
    -------------------------------------------------------------------------
    SELECT 
        pc.Id, 
        pc.PriceCardType, 
        pc.Variety, 
        pc.Product, 
        pc.Generation, 
        pc.Grade, 
        gs.Size AS Size,  
        pc.BookingPrice,
        pc.State,
        pc.DestinationState,
        pc.PrimaryRatio,
        pc.SecondaryVariety,
        pc.SecondaryProduct,
        pc.SecondaryGeneration,
        pc.SecondaryGrade,
        gs2.Size AS SecondarySize,  
        pc.SecondaryBookingPrice,
        pc.SecondaryRatio,
        pc.CreatedOn,
        pc.Status,
        COALESCE(primary_cond.Condition_Amount,   0) AS condition_amount,
        COALESCE(secondary_cond.Condition_Amount, 0) AS secondaryCondition_amount
    FROM dbo.TB_PriceCard AS pc
    LEFT JOIN dbo.TB_GradeSize AS gs  ON pc.Grade          = gs.Grade
    LEFT JOIN dbo.TB_GradeSize AS gs2 ON pc.SecondaryGrade = gs2.Grade

    /* PRIMARY condition amount */
    OUTER APPLY (
        SELECT TOP 1 pm.Condition_Amount
        FROM dbo.TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
        LEFT JOIN @ConditionTablePriority ctp
               ON ctp.ConditionTable = pm.Condition_Table
        LEFT JOIN dbo.TB_StateRegionMap srm
               ON LTRIM(RTRIM(srm.StateName)) = LTRIM(RTRIM(pc.DestinationState))
        WHERE pm.CompanyCode        = @CompanyCode
          AND pm.Condition_Type     = 'ZB01'
          AND pm.Material_Description LIKE '%' + pc.Variety    + '%'
          AND pm.Material_Description LIKE '%' + pc.Product    + '%'
          AND pm.Material_Description LIKE '%' + pc.Generation + '%'
          AND pm.Material_Description LIKE '%' + pc.Grade      + '%'
          AND (
                -- 1054: respect card mode
                (@CompanyCode = 1054 AND
                    (
                        (pc.CustomerCode IS NOT NULL      AND pm.Condition_Table = 'A860' AND LTRIM(RTRIM(pm.Customer_Number)) = LTRIM(RTRIM(pc.CustomerCode)))
                     OR (pc.DestinationState IS NOT NULL AND pm.Condition_Table = 'A935' AND pm.Region = srm.RegionCode)
                    )
                )
                -- others: keep old priority behavior
                OR (@CompanyCode <> 1054)
              )
        ORDER BY
            CASE WHEN @CompanyCode = 1054 THEN 0 ELSE ctp.PriorityOrder END,
            pm.Id DESC
    ) AS primary_cond

    /* SECONDARY condition amount */
    OUTER APPLY (
        SELECT TOP 1 pm.Condition_Amount
        FROM dbo.TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
        LEFT JOIN @ConditionTablePriority ctp
               ON ctp.ConditionTable = pm.Condition_Table
        LEFT JOIN dbo.TB_StateRegionMap srm
               ON LTRIM(RTRIM(srm.StateName)) = LTRIM(RTRIM(pc.DestinationState))
        WHERE pm.CompanyCode        = @CompanyCode
          AND pm.Condition_Type     = 'ZB01'
          AND pm.Material_Description LIKE '%' + pc.SecondaryVariety    + '%'
          AND pm.Material_Description LIKE '%' + pc.SecondaryProduct    + '%'
          AND pm.Material_Description LIKE '%' + pc.SecondaryGeneration + '%'
          AND pm.Material_Description LIKE '%' + pc.SecondaryGrade      + '%'
          AND (
                (@CompanyCode = 1054 AND
                    (
                        (pc.CustomerCode IS NOT NULL      AND pm.Condition_Table = 'A860' AND LTRIM(RTRIM(pm.Customer_Number)) = LTRIM(RTRIM(pc.CustomerCode)))
                     OR (pc.DestinationState IS NOT NULL AND pm.Condition_Table = 'A935' AND pm.Region = srm.RegionCode)
                    )
                )
                OR (@CompanyCode <> 1054)
              )
        ORDER BY
            CASE WHEN @CompanyCode = 1054 THEN 0 ELSE ctp.PriorityOrder END,
            pm.Id DESC
    ) AS secondary_cond

    WHERE
        -- Existing filters
        (@Status IS NULL OR pc.Status = @Status)
        AND (@PriceCardType IS NULL OR pc.PriceCardType = @PriceCardType)
        AND (@Variety IS NULL OR pc.Variety = @Variety)

        -- Visibility rules: only enforced when CompanyCode=1054 and a customer context exists
        AND (
            @CompanyCode <> 1054
            OR @CustomerCode IS NULL
            OR (
                -- A860 visibility: exact customer
                (pc.CustomerCode IS NOT NULL
                 AND LTRIM(RTRIM(pc.CustomerCode)) = LTRIM(RTRIM(@CustomerCode)))
                -- A935 visibility: destination = customer's state AND Ex State is Punjab or same state
                OR (pc.DestinationState IS NOT NULL
                    AND @CustomerState IS NOT NULL
                    AND LTRIM(RTRIM(pc.DestinationState)) = LTRIM(RTRIM(@CustomerState))
                    AND pc.State IN ('Punjab', @CustomerState))
            )
        );
END
GO
